:root {
  // --cw-:: meaning crowry-wise
  --cw-grey-100: #f6f6f6;
  --cw-grey-200: #e7e7e7;
  --cw-grey-300: #dde3ea;
  --cw-grey-400: #898989;
  --cw-grey-500: #90909e;
  --cw-grey-600: #6c7992;
  --cw-white: #ffffff;
  --cw-blue: #253950;
}
